.btn-primary{
    background: #0d79bf;
}

.error{
    color: red;
}

select.form-control:not([size]):not([multiple]){
    height: calc(2.25rem + 6px);
}

.clickable-icon{
    cursor: pointer;
}

.overlay-image{
    position:  absolute;
    background-color:  black;
    width: 100%;
    top: 0;
    bottom:  0;
    display:  block;
    opacity: 0.8;
    z-index: 5463456
}

@media (max-width: 767px){
    #hero-area .contents {
        padding: 5px 0;
        width: 100%;
        display: inline-block;
    }
}

@media (min-width: 768px){
    #hero-area .contents {
        padding: 160px 0 167px;
    }
}

@media (min-width: 992px){
    .search-bar .form-group {
        width: 45%;
    }

    .description-col{
        margin-top: -100px;
    }
}


@media (max-width: 767px){
    .search-bar .form-group {
        width: 100%;
    }
}


@media (max-width: 991px){
    .search-bar .form-group {
        width: 100%;
    }
}


.modal{
    z-index: 1054564;
}

#hero-area .contents .head-title {
    
    font-size: 48px;
}

.details-box .ads-details-info .list-specification li {
    width: 68%;
    box-sizing: border-box;
    float: left;
    position: relative;
    margin-bottom: 7px;
    margin-right: 5px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #00cc67;
    border-color: #00cc67;
}

.proper{
    display: inherit;
    text-align: right;
}

.featured-box .feature-content .btn-list .btn-price {
    padding: 11px 3px;
}

.feature-content{
    padding-bottom: 30px;
}