.btn-primary{
    background: #0d79bf;
}

.error{
    color: red;
}

select.form-control:not([size]):not([multiple]){
    height: calc(2.25rem + 6px);
}

.clickable-icon{
    cursor: pointer;
}

.overlay-image{
    position:  absolute;
    background-color:  black;
    width: 100%;
    top: 0;
    bottom:  0;
    display:  block;
    opacity: 0.8;
    z-index: 5463456
}

@media (max-width: 767px){
    #hero-area .contents {
        padding: 5px 0;
        width: 100%;
        display: inline-block;
    }
}

@media (min-width: 768px){
    #hero-area .contents {
        padding: 160px 0 167px;
    }
}

@media (min-width: 992px){
    .search-bar .form-group {
        width: 45%;
    }
}


@media (max-width: 767px){
    .search-bar .form-group {
        width: 100%;
    }
}


@media (max-width: 991px){
    .search-bar .form-group {
        width: 100%;
    }
}


.modal{
    z-index: 1054564;
}