.btn-primary{
    background: #0d79bf;
}

.error{
    color: red;
}

select.form-control:not([size]):not([multiple]){
    height: calc(2.25rem + 6px);
}

.clickable-icon{
    cursor: pointer;
}

.overlay-image{
    position:  absolute;
    background-color:  black;
    width: 100%;
    top: 0;
    bottom:  0;
    display:  block;
    opacity: 0.8;
    z-index: 5463456
}